
.locationHome {
  display: flex;
  height: 60vh;
  margin: 10vh;
  width: 85%;
}

.sideBarL {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  width: 100%;
  border: solid 2px #C3B7A0;
  border-right-style: none;
}

.sideBar {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  width: 100%;
  border: solid 2px #C3B7A0;
  border-left-style: none;
}
.menusHome {
  display: flex;
  height: 60vh;
  margin: 10vh;
  width: 85%;
}

img {
  width: 300px;
}